<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Cinemão do Sampaio</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css " rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="css/style-responsive.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous">

 


</head>

<body>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->


  <section id="container">
    <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
      <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
      </div>
      <!--logo start-->
      <a href="index.html" class="logo"><b>CINEMÃO DO SAMPAIO</a>
      <!--logo end-->

      <div class="top-menu">
        <form class="form-inline pull-right" role="form">

          <div class="form-group">
            <input type="text" class="form-control" ng-model="tag" id="buscaInputField" placeholder="Buscar">
          </div>
          <button type="submit" ng-click="buscar(tag)" class="btn btn-theme">Go!</button>
        </form>
      </div>
    </header>
    <!--header end-->

    <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">

          <p class="centered"><a href=""><img src="./img/user.png" class="img-circle" width="160"></a></p>
          <h5 class="centered">Usuário Bacana</h5>

          <li class="mt">
            <a href="/#!/">
                          <i class="fa fa-home"></i>
                          <span>Home</span>
                      </a>
          </li>

          <li class="sub-menu">
            <a href="javascript:;">
                          <i class="fa fa-desktop"></i>
                          <span>UI Elements</span>
                      </a>
            <ul class="sub">
              <li><a href="">General</a></li>
              <li><a href="">Buttons</a></li>
              <li><a href="">Panels</a></li>
            </ul>
          </li>

          <li class="sub-menu">
            <a href="javascript:;">
                          <i class="fa fa-cogs"></i>
                          <span></span>
                      </a>
            <ul class="sub">
              <li><a href="">Calendar</a></li>
              <li><a href="">Gallery</a></li>
              <li><a href="">Todo List</a></li>
            </ul>
          </li>

          <li class="sub-menu">
            <a href="javascript:;">
                          <i class="fa fa-tasks"></i>
                          <span>Forms</span>
                      </a>
            <ul class="sub">
              <li><a href="">Form Components</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
                          <i class="fa fa-th"></i>
                          <span>Data Tables</span>
                      </a>
            <ul class="sub">
              <li><a href="">Basic Table</a></li>
              <li><a href="">Responsive Table</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
                          <i class=" fa fa-bar-chart-o"></i>
                          <span>Charts</span>
                      </a>
            <ul class="sub">
              <li><a href="">Morris</a></li>
              <li><a href="">Chartjs</a></li>
            </ul>
          </li>

        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->

    <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper site-min-height">
        <div class="row mt">
          <div class="col-lg-12">
            <div ng-view></div>

          </div>
        </div>

      </section>
      <!--/wrapper -->
    </section>
    <!-- /MAIN CONTENT -->

    <!--main content end-->
    <!--footer start-->

    <footer class="site-footer">
      <div class="text-center">
        Sampaio's 2017

      </div>
    </footer>
    <!--footer end-->
  </section>



  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
    crossorigin="anonymous"></script>

  <script src="js/assets/jquery.nicescroll.js" type="text/javascript"></script>
  <script src="js/assets/jquery.scrollTo.min.js"></script>
  <script src="js/assets/jquery-ui-1.9.2.custom.min.js" type="text/javascript"></script>
  <script src="js/assets/jquery.ui.touch-punch.min.js"></script>
  <script class="include" type="text/javascript" src="js/assets/jquery.dcjqaccordion.2.7.js"></script>

   <link href="css/ngToast.css">
<!--    
  <script src="angular-animate.min.js"></script>-->
  
  <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="bower_components/ngToast/dist/ngToast.min.js"></script>

  <!--Models-->
  <script src='js/models/User.js'></script>
  <script src='js/models/Media.js'></script>

  <script src="app.js"></script>
  <script src="js/value/configValue.js"></script>

  <script src="view1/view1.js"></script>
  <script src="view2/view2.js"></script>



  <!--Services-->
  <script src='js/service/QueryService.js'></script>
  <script src='js/service/UserService.js'></script>


  <script src="js/controller/BuscaController.js"></script>

  <script src="js/assets/common-scripts.js"></script>








</body>

</html>